<!DOCTYPE html>
<html lang = "en">
<head>
  <meeta charset = "UTF-8">
  <title> Test web Stire </title>
</head>
<body>
    <h>Welcome "<%=name%>"</h><br>
    <form method="POST">
      <button type = "submit" name="button" value="alarm"> 배정알림 </button><br>
      <button type = "submit" name="button" value="DelieveryStart"> 운송시작 </button><br>
      <button type = "submit" name="button" value="DeliveryDone"> 운송도착 </button><br>
      <button type = "submit" name="button" value="arrived"> 배정알림 </button><br>
    </form>
</body>
</html>
